@* 
@if (ViewBag.HabitacionesDisponibles != null && ViewBag.HabitacionesDisponibles.Count != 0)
{
    <table>
        <thead>
            <tr>
                <th>N° Habitacion</th>
                <th>Tipo Habitacion</th>
            </tr>
        </thead>
        <tbody>


            @foreach (Habitacion habitacion in ViewBag.HabitacionesDisponibles)
            {
                <tr>
                    <td>@habitacion.NumHabitacion</td>
                    <td>@habitacion.TipoHabitacion</td>
                </tr>
            }


        </tbody>
    </table>
} *@