@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Crear Reserva</h2>

<div>
    <form asp-action="CrearReserva" method="post">
        <div>
            <label>Ingrese una fecha de CheckIn</label>
            <input type="date" name="fechaCheckIn" required />

            <label>Ingrese una fecha de CheckOut</label>
            <input type="date" name="fechaCheckOut" required />
        </div>
        <div>
            <label>Seleccione un tipo de Habitacion</label>
            <select name="tipoHab" required>
                <option value="">--Por favor seleccione una opcion--</option>
                <option value="Simple">Simple</option>
                <option value="Doble">Doble</option>
                <option value="Suite">Suite</option>
            </select>
        </div>
        <div>
            <label>Seleccione el Usuario</label>
            <select name="idUsuario" required>
                <option value="">--Por favor seleccione un usuario--</option>
                <option value="1">Rodrigo Santana</option>
                <option value="2">Juan Perez</option>
                
            </select>
        </div>
        <div>
            <input type="submit" value="Crear Reserva">
        </div>
    </form>

</div>