@{
    ViewData["Title"] = "Estadísticas de Reservas";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">📊 Estadísticas de Reservas</h1>
    <h2 class="mb-4 text-center"> Cantidad de reservas por tipo de habitacion</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Tipo de Habitación</th>
                    <th>Cantidad de Reservas</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Historial != null && (ViewBag.Historial as Dictionary<string, int>).Count > 0)
                {
                    foreach (var item in ViewBag.Historial as Dictionary<string, int>)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-danger">No hay datos disponibles</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
